* {
    margin: 0;
    padding: 0;
}

.calculator {
    margin: 100px auto;
    width: 285px;
    height: 472px;
    background-color: #353535;
    border-radius: 6px;
}

.display {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 43%;
    width: 100%;
    background-color: #353535;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.count-string {
    position: absolute;
    top: 45px;
    right: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.result-string {
    position: absolute;
    top: 85px;
    right: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF; 
}

.keyboard {
    box-sizing: border-box;
    padding: 2px;
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 52px);
    gap: 1px;
    background-color: #353535;
    flex-wrap: wrap;
    border-radius: 6px;
}

.del-button {
    position: absolute;
    right: 18px;
    bottom: 5px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #636363;
    border-radius: 3px;
}

.button:hover {
    background-color: #aaaaad;
}

.zero {
    grid-column: 1 / 3;
}
